* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

main {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    background-color: white;
}

.cell {
    border: 2px solid blue;
    color: black;
    padding: 8px;
    font-size: 4rem;
    text-align: center;
}